---
import BaseLayout from '../layouts/BaseLayout.astro';
import Anchor from '../components/Anchor';
import Sidebar from '../components/Sidebar.astro';
---

<BaseLayout title="Welcome to Astro.">
	<div class="layout-grid">
		<Sidebar custom-sidebar />
		<div custom-container="content">
			<h1>Hello</h1>
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.layout-grid {
		@apply grid;
		grid-template-areas: "sidebar content content content";
		grid-template-columns: 250px 1fr;

		[custom-sidebar] {
			grid-area: sidebar;
		}

		[custom-container=content] {
			grid-area: content;
		}
	}

	h1 {
		margin: 2rem 0;
	}
</style>