---
import PageLayout from '../layouts/PageLayout.astro';
import Card from '../components/Card.astro';

import { range } from "../utils/range";
---

<PageLayout title="Welcome to Astro.">
	<div custom-layout>
		<h1>Hello</h1>
		<div class="cards-grid">
			{
				range(14).map(i => (
					<Card>
						<h3>Card {i + 1}</h3>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum aliquid quisquam quod a reprehenderit autem dicta recusandae quis culpa, fugiat deserunt nulla dignissimos neque nisi provident qui, numquam cum maiores!</p>
					</Card>
				))
			}
		</div>
	</div>
</PageLayout>

<style lang="scss">
	[custom-layout] {
		@apply container max-w-screen-lg;
		@apply px-6 py-10;
	}

	.cards-grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 20px;
		
		display: grid;
		@apply py-3;
	}
</style>