---

---

<div custom-card {...Astro.props}>
  <slot />
</div>

<style lang="scss">
  [custom-card] {
    @apply bg-[color:var(--card)];
    @apply grid gap-8;

    @apply border border-[#d1d5d6];
    @apply rounded-lg;
    @apply p-6;
  }
</style>